<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>chara_texture.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {118, 100}}</string>
			<key>spriteOffset</key>
			<string>{-3, 12}</string>
			<key>spriteSize</key>
			<string>{118, 100}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 130}, {100, 118}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>gclue_logo.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {128, 128}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{128, 128}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {128, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{256, 256}</string>
		<key>name</key>
		<string>sample_plist</string>
		<key>textureFileName</key>
		<string>sample_plist.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>